body{background-color: beige}

header{background-color: rgb(206, 127, 1); color: rgb(23, 182, 185); 
    text-align: center; font-size: larger;}

nav{background-color: rgb(209, 79, 4); color: rgb(0, 157, 255); 
    font-size: larger; font: bold}

section{color: rgb(0, 115, 255);}




img{border-style: solid; border-color: rgb(26, 15, 81);
      border-width: 10px;}

form{color: dodgerblue;} 

button{color: rgb(128, 79, 0);}

footer{background-color: rgb(0, 61, 130); color: sandybrown;}
